*{
	margin: 0px;
	padding: 0px;
}
html,body{
	width: 100%;
	height: 100%;
	font-family: "微软雅黑";
	font-size: 12px;
	background: white;
}
.null {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
}
.null div {
  text-align: center;
}
#wrap,
.wrap {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}
#main,
.main {
  -webkit-box-flex: 1;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
 
}
.flex-box{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flex-1{
	-webkit-box-flex: 1;
	box-flex:1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.flex-2{
	-webkit-box-flex: 2;
	box-flex:2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}
.flex-3{
	-webkit-box-flex: 3;
	box-flex:3;
	-moz-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
}
/*.topbar {
  position: relative;
  background: #fff;
  height: 50px;
  border-bottom: 1px solid #75B6D7;
  line-height: 50px;
  text-align: center;
  color: #323237;
}*/
#wrap,
.wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
}
/*#header h1 {
  font-size: 20px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  color: #fff;
}*/

/*.topbar {
  position: relative;
  background: #fff;
  height: 50px;
  border-bottom: 1px solid #75B6D7;
  line-height: 50px;
  text-align: center;
  color: #323237;
}*/
#main,
.main {
  -webkit-box-flex: 1;
  box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.load-more{
	height: 35px;
	color: #999;
	line-height:35px;
	text-align: center;
	background: #f0f0f0;
}
