@charset "utf-8";
/* pagination */

.pagination a{text-decoration:none;border:solid 1px #AAE;color:#15B;}
.pagination a, .pagination span{display:inline-block;float:left;padding:0.3em 0.5em;margin-right:5px;margin-bottom:5px;}
.pagination .current{background:#26B;color:#fff;border:solid 1px #AAE;}
.pagination .current.prev, .pagination .current.next{color:#999;border-color:#999;background:#fff;}


#Searchresult{margin-top:15px;margin-bottom:15px;border:solid 1px #eef;padding:5px;background:#eef;}
#footer{margin-top:20px;font-size:60%;color:#15B;}
label{float:left;width:250px;display:block;}
form p{clear:both;}